@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*
 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
  align-items: center;
  gap: 0.2rem;
  height: 100vh;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  color: rgb(26, 26, 26);

  & .title {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    padding-left: 1.2rem;
    text-shadow: 50%;
  }

  & .subtitle {
    font-weight: 500;
    align-items: center;
    letter-spacing: 0.5rem;

    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-top: 2%;
    
  }
}

.bottom-con {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  color: rgb(251, 251, 251);
  width: 53%; 
  margin: 0 auto;

& .descriptions {
  width: 100%; 
  line-height: 1.5; 
  
}
}



header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.3rem 15rem;
    align-items: center;
    background: rgb(0, 0, 0);
  }
  
  .header .navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .header .active-content {
    color: rgb(232, 0, 0);
    font-weight: 500;
    font-size: 0.7rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-family: 'Press Start 2P', sans-serif

  }

  .header .navigation-content {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.7rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-family: 'Press Start 2P', sans-serif;
  }
  
  .header .button {
    border: 1px rgb(0, 0, 0) solid;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .header .navigation-content:hover {
    color: rgb(232, 0, 0);
  }
  
  .header .button:hover {
    color: #ffffff;
    background-color: #3f5eec;
    border: none;
  }