
.card4 {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  transform: scale(0.8);
  animation: popup 0.5s forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card4-avatar {
  width: 150px;
  height: 200px;
  border-radius: 40%;
  margin: 0 auto 10px;
  display: block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card4-name {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
  margin-top: 2rem;
}

.card4-title {
  font-size: 18px;
  color: #000000;
  margin-bottom: 5px;
}

.card4-contact {
  font-size: 14px;
  line-height: 1.5;
  color: #777;
}

.card4-animated{
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  transform: scale(0.8);
  animation: popup 0.5s forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card4-animated:hover {
  transform: translateY(-5px); 

  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2); 
}

.card4-animated:hover .card4-avatar{
  transform: scale(1.1); 
}

.card4-animated:hover .card4-name {
  transform: scale(1.1); 
  color: #000000;
}
