.card5 {
  width: 400px;
  padding: 80px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  transform: scale(0.8);
  animation: popup 0.5s forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card5.static .icon img {
  width: 252px;
  height: 300px;
  align-items: center;
}

.card5.static .text h2 {
  margin: 10px 0 0 0;
  font-size: 1rem;
  color: #000000;
}


.card5.animated .icon img {
  width: 252px;
  height: 300px;
  align-items: center;
  transition: transform 0.3s;
}

.card5.animated .text h2 {
  margin: 10px 0 0 0;
  font-size: 1rem;
  margin-top: 2rem;
  color: #000000;
  transition: color 0.3s;
  transition: transform 0.3s;
  font-weight: 0;
}


.card5.animated:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: pink ;
  border-radius: 20px;
  color: #000000;
}

.card5.animated:hover .icon img {
  transform: rotate(10deg) scale(1.1);
}

.card5.animated:hover .text h2 {
  color: #ffffff;
  transform: rotate(10deg) scale(1.1);
}
