@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

section > h1,
section > p {
  font-family: 'Press Start 2P', sans-serif;
  color: #333;
  margin-top: 1rem;
  margin-left: 1rem;
}

section > h1 {
    font-size: 2rem; 
    font-weight: 700; 
    margin-bottom: 10px; 
}

section > p {
    font-size: 1.2rem; 
    font-weight: 400; 
    margin-bottom: 20px;
}